.App {
  text-align: center;
}

.chat-header {
  background-color: lightblue;
  height: 8vh; 
  color: black;
}

.chat-container {
  background-color: lightgreen;
  height: 50vh;
}

.chat-input {
  background-color: lightgray;
  height: 5vh;
}

.text-input {
  margin: 0;
}

p {
  margin: 0;
}

.chat-header, .chat-container, .chat-input {
  border-radius: 10px;
  margin: 0;
}
