.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(82, 80, 80, 0.863);
}

.chat-headerr {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Fondamento', cursive;
  color: #668300;
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
  width: 90vw;
  height: 10vh;
  margin: 0 auto;
}

.chat-container {
  /* background-color: lightgreen; */
  height: 75vh;
  font-size: 25px;
}

.chat-input {
  background-image: url("https://i.imgur.com/aOGRW0N.png");
  background-size: contain;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-header p, .chat-container p, .chat-input p {
  margin: 0;
}

.chat-header, .chat-container, .chat-input {
  margin: 0;
}
.chat-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* margin-top: em; */
  /* margin-bottom: 8vh; */
  /* margin-left: 100px; */

  padding: 0;
}
/* .chat-back {
  margin-right: 100px;
} */

.chat-button {
  width: 9vw;
  color: rgba(0,0,0,0)
}

.chat-keyboard {
  background-image: url("https://i.imgur.com/cTe85Nm.png");
  background-size: contain;
  height: 30vh;
  width: 100vw;
  justify-content: center;
  background-repeat: no-repeat;
}

.text-input {
  width: 78vw;
  margin-left: 10vw;
  border-radius: 12px;
  height: 4vh;
  font-size: 15px;
}

#user-chat {
  text-align: right;
  /* display: flex;
  align-items: center;
  justify-content: right; */
  height: 10vh;
  border-radius: 10px;
  background-color: lightgreen;
  /* background-image: url("https://www.nicepng.com/png/detail/4-46798_iphone-text-bubble-png-text-messaging.png");
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: fill; */
}

#response-chat {
  text-align: left;
  height: 10vh;
  border-radius: 10px;
  background-color: lightblue;
}

.profile-picture {
  border-radius: 20%;
  margin-top: 3em;
  width: 300px;
  height: 300px;
}

.user-name {
  font-size: 2.5em;
  font-family: 'Fondamento', cursive;
  color: #668300;
  font-weight: normal;
}

.about-me {
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.5em;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
}

.button-style {
  border: none;
  padding: 0.5em;
  font-size: 2em;
  margin: 1em;
  font-family: 'Fondamento', cursive;
  color: white;
  background-color: #B0C400;
  text-align: center;
}

.nav-bar {
  min-width: 100vw;
  background-color: white;
  border-top: 1px solid rgba(128, 128, 128, 0.178);
}

.nav-button-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 90vw;
}

.nav-button {
  padding: 1em;
}

.error-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.scroll-bar {
  margin-top: 3em;
  height: 85vh;
  position: relative;
  overflow-y: scroll;
  width: 80vw;
}

.scroll-image {
  height: 75px;
  width: 75px;
  border-radius: 20%;
  margin: 1em;
}

.tag {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  text-align: left;
}

.tag-about {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
}

strong {
  font-family: 'Fondamento', cursive;
  color: #668300;
}

h1 {
  font-family: 'Fondamento', cursive;
  color: #668300;
}

.settings-page {
  height: 80vh;
  margin-bottom: 3em;
  margin-top: 3em;
}

.input {
  border: 1px solid green;
  font-size: 1em;
}

.label {
  font-size: 1.5em;
  margin-right: 1em;
  font-family: 'Fondamento', cursive;
}

.preferences {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: flex-start;
  margin: 0em 2em 2em 2em;
  line-height: 3em;
}

.settings {
  text-align: left;
  margin: 2em;
}

.nav-profiles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

.app-name {
  background-color: #B0C400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fondamento', cursive;
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
  height: 10vh;
  margin: 0 auto;
  color: white;
}